registry=https://registry.npmjs.org/

# Reduce random CI nonsense
fetch-retries=8
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# Don’t waste time on fluff during CI installs
audit=false
fund=false
progress=false

# Enforce Node contract
engine-strict=true
